<h1>Home#index</h1>
<h1>This is the homepage  </h1>
<p><%= link_to "Add new Book" %></p>
<a href="/book/list">Index Page</a>
<%= link_to "Improve Your Ruby Skills", "/book/list" %>
#optional
<%= link_to "book", page1_path %>
<p>Find me in app/views/home/index.html.erb</p>
